.headerContainer {
  background-color: #8bea12;
  height: 5rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.headerHeading {
  margin: 0;
  color: white;
}
