.footerContainer {
  background-color: black;
}

.footerContainer footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: min(100% - 2rem, 80rem);
}

.footerHeading {
  color: white;
}

.footerHeading span {
  color: red;
}
