.smallDrink-container {
  --shadow-color: 0deg 0% 63%;
  flex: 0 1 15rem;
  display: grid;
  border-radius: var(--borderRadius-default);
  border: 1px solid white;
  overflow: hidden;
  background-color: #cef79b;
  box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  background-size: cover;
  background-repeat: no-repeat;
  block-size: 20rem;
}

.smallDrink-container > div button:hover {
  cursor: pointer;
}

.smallDrink-container > div {
  background-color: rgba(216, 112, 147, 0.5);
  backdrop-filter: blur(2px);
  transform: translateY(60%);
}

.smallDrink-container > div > h3 {
  color: white;
}

.smallDrink-container button {
  border: none;
  border-radius: 0.35rem;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  background-image: linear-gradient(
    90deg,
    hsl(221deg 90% 64%) 0%,
    hsl(204deg 100% 50%) 16%,
    hsl(200deg 100% 50%) 26%,
    hsl(196deg 100% 50%) 32%,
    hsl(192deg 100% 50%) 36%,
    hsl(188deg 100% 49%) 41%,
    hsl(176deg 100% 45%) 48%,
    hsl(163deg 100% 47%) 59%,
    hsl(149deg 100% 49%) 75%,
    hsl(133deg 99% 51%) 100%
  );
  background-size: 200%;
  background-position: right;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 300ms ease;
}

.smallDrink-container button:hover {
  background-position: left;
  transform: scale(0.95);
}
